<h2>Acceder</h2>
<form action="/signin" method="post">
<p>{{mensaje}}</p>
    <label for="nombre">Usuario</label>
    <input type="text" required id="nombre" name="nombre">
    <label for="clave">Contraseña</label>
    <input type="password" required id="clave" name="clave">
<input type="submit" value="Acceder">
</form>