<h2>Registrarse</h2>
<form action="/signup" method="post">
<p>{{mensaje}}</p>
    <label for="nombre">Usuario</label>
    <input type="text" required id="nombre" name="nombre">
    <label for="clave">Contraseña</label>
    <input type="password" required id="clave" name="clave">
    <label for="clave2">Confirmar contraseña</label>
    <input type="password" required id="clave2" name="clave2">
<input type="submit" value="Guardar">
</form>